version: "3.8"

services:
  web:
    build:
      context: .
      dockerfile: ./containers/Dockerfile
      target: gleamxdev
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./gleam_webapp:/home/app/web/
      - ./logs:/home/app/logs/
      - ./psrcat:/home/app/web/psrcat
    ports:
      - 80:8000
    env_file:
      - ./.env.dev
    depends_on:
      db:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "0.0.0.0:8000", "--silent"]
      interval: 30s
      timeout: 30s
      retries: 3
      start_period: 5s

  db:
    build:
      context: ./containers/
      dockerfile: db.Dockerfile
      target: postgres-q3c
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env.dev.db
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 5s

volumes:
  postgres_data:
