{% load static %}

<footer>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p>

                    </p>
                </div>
                <div class="col-md-4">
                    <p>

                    </p>
                </div>
                <div class="col-md-4">
                    <p>

                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    Proudly powered by <a href="https://escience.aip.de/daiquiri">Daiquiri</a>
                </div>
                <div class="col-xs-6 text-right">

                </div>
            </div>
        </div>
    </div>
</footer>
