{% extends 'candidate_app/header.html' %}

{% block content %}

<title>Candidate Rating ID:{{ candidate.id }} </title>
<h2>Candidate Rating ID:{{ candidate.id }}</h2>
{% if candidate %}
<div class="row fluid">

  <div class="col-md-8">
    <h3>Current Candidate</h3>
    <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            ID:{{ candidate.id }}
          </p>
        </header>
        {% if candidate.png_path %}
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="{{candidate.png_path.url}}" alt="Diagnostic Plot for {{candidate.id}}" onClick="window.open(this.src)">
          </figure>
        </div>
        {% endif %}
        <div class="card-content">
            <h3>Observation:</h3>
            <table>
              <tr><td>Observation ID</td>  <td>{{ candidate.obs_id.observation_id }}</td></tr>
              <tr><td>Time</td>            <td>{{ candidate.obs_id.starttime }}</td></tr>
              <tr><td>Frequency (MHz)</td> <td>{{ candidate.obs_id.cent_freq }}</td></tr>
            </table>
            <h3>Candidate:</h3>
            <table>
              <!-- <tr><td>Location (deg)</td>                      <td>{{ candidate.ra_dec }}, {{ candidate.dec_dec}}</td></tr> -->
              <tr><td>Location (HH:MM:SS.SS, DD:MM:SS.SS)</td> <td>{{ candidate.can_ra_hms }}, {{ candidate.can_dec_dms }}</td></tr>
              <tr><td>Central sep (deg)</td>                   <td>{{ candidate.can_cent_sep_deg }}</td></tr>
              <tr><td>Radius (deg)</td>                        <td>{{ candidate.can_rad_deg}}</td></tr>
              <tr><td>Peak Flux (Jy)</td>                     <td>{{ candidate.can_peak_flux }}</td></tr>
              <tr><td>Fluence (Jy s)</td>                       <td>{{ candidate.can_fluence }}</td></tr>
              <tr><td>Primary Beam</td>                        <td>{{ candidate.can_beam }}</td></tr>
              <tr><td>Detection statistic</td>                 <td>{{ candidate.can_det_stat }}</td></tr>
              <tr><td>Modulation Index</td>                    <td>{{ candidate.can_mod_ind }}</td></tr>
            </table>
            <h3>Match:</h3>
            <table>
              <tr><td>Source name</td>                         <td>{{ candidate.nks_name }}</td></tr>
              <tr><td>Location (HH:MM:SS.SS, DD:MM:SS.SS)</td> <td>{{ candidate.nks_ra_hms }}, {{ candidate.nks_dec_dms }}</td></tr>
              <tr><td>Flux (Jy)</td>                          <td>{{ candidate.nks_flux }}</td></tr>
              <tr><td>Resolution</td>                          <td>{{ candidate.nks_res }}</td></tr>
              <tr><td>Resolution Difference</td>               <td>{{ candidate.nks_res_dif  }}</td></tr>
              <tr><td>Detection statistic</td>                 <td>{{ candidate.nks_det_stat }}</td></tr>
            </table>
            <h3>Comparison:</h3>
            <table>
              <tr><td>Seperation (deg)</td> <td>{{ candidate.can_nks_sep_deg }}</td></tr>
              <tr><td>Flux ratio</td>       <td>{{ candidate.can_nks_flux_rat }}</td></tr>
              <tr><td>Is close?</td>        <td>{{ candidate.can_nks_is_close }}</td></tr>
            </table>
        </div>
      </div>
  </div>

  <div class="col-md-3">
    <h2 class="subtitle is-3">Rate Current Candidate</h2>
    <form action="{% url 'candidate_update_rating' id=candidate.id %}" method="post">
      {% csrf_token %}
      <div class="field">
      <!-- <label for="rfi">Is RFI?</label>
      <input type="checkbox"  id='rfi' value='True' name="rfi"><br> -->
      <h3>Choose candidate type:</h3>

      <input type="radio" id="T" name="cand_type" value="T" checked="checked" >
      <label for="T">Transient</label><br>
      <input type="radio" id="A" name="cand_type" value="A">
      <label for="A">Airplane</label><br>
      <input type="radio" id="RFI" name="cand_type" value="RFI">
      <label for="RFI">RFI</label><br>
      <input type="radio" id="SL" name="cand_type" value="SL">
      <label for="SL">Sidelobe</label><br>
      </div>
      <div class="field">
      <label for="rating">Rating from 1(noise) to 5(clear candidate){% if rating %}(currently {{rating.rating}}){% endif %}</label>
      <div>
        <input type="submit" class="button is-medium" name="rating" value="1">
        <input type="submit" class="button is-medium" name="rating" value="2">
        <input type="submit" class="button is-medium" name="rating" value="3">
        <input type="submit" class="button is-medium" name="rating" value="4">
        <input type="submit" class="button is-medium" name="rating" value="5">
      </div>
      </div>
      <div class="field">
      <label for="rating">Notes (is it a known source?)</label>
      <input type="text" id="notes" name="notes" value="{{candidate.notes}}"><br>
      </div>
      <input type="hidden" name="id" value="">
      <input type="hidden" name="username" value="{{user}}">
    </form>
    <button class="button is-link" onclick="window.history.go(-1)">Back to previous</button>
  </div>
</div>
{% else %}
<p>Candidate not Found!</p>
{% endif %}
{% endblock %}