{% extends 'candidate_app/header.html' %}

{% block content %}

<title>Candidate Ratings Table</title>
<h2>Candidate Ratings Table</h2>

<div>
{% if page_obj %}
  <table class="table">
    <thead>
      <th>ID</th>
      <th>Rating (Count)</th>
      <th>Notes</th>
      <th>RA (HH:MM:SS.SS)</th>
      <th>Dec (DD:MM:SS.SS)</th>
      <th>Plot</th>
    </thead>

    {% for cand in page_obj %}
      <tr>
        <td>{{cand.id}}</td>
        <td>
          {% if cand.num_ratings > 0 %}
            {{cand.avg_rating|floatformat:2}} ({{cand.num_ratings}})
          {% else %}
            not rated
          {% endif %}
        </td>
        <td>{{cand.notes}}</td>
        <td>{{cand.ra_hms}}</td>
        <td>{{cand.dec_dms}}</td>
        <td><img src="{{cand.png_path.url}}" alt="Diagnostic Plot for {{cand.id}}" style="width:100px;" onClick="window.open(this.src)" > </td>
      </tr>
    {% endfor %}
  </table>
{% else %}
  <p>No Candidates Found!</p>
{% endif %}
</div>

<div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
    <a href="?page=1">&laquo; first</a>
    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">next</a>
    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
  </span>
</div>
{% endblock %}