{% extends 'candidate_app/header.html' %}

{% load utils %}

{% block content %}

<title>Candidate Ratings Table</title>
<h2>Candidate Ratings Table</h2>

<div>
{% if page_obj %}
  <table class="fl-table">
    <thead>
      <th><a href="?{% url_replace request 'order_by' 'id' '-' %}">ID</a></th>
      <th><a href="?{% url_replace request 'order_by' 'avg_rating' '-' %}">Rating</a> <a href="?{% url_replace request 'order_by' 'num_ratings' '-' %}">(Count)</a></th>
      <th><a href="?{% url_replace request 'order_by' 'notes' '-' %}">Notes</a></th>
      <th><a href="?{% url_replace request 'order_by' 'transient_count' '-' %}">N Tranisent</a></th>
      <th><a href="?{% url_replace request 'order_by' 'airplane_count' '-' %}">N Airplane</a></th>
      <th><a href="?{% url_replace request 'order_by' 'rfi_count' '-' %}">N RFI</a></th>
      <th><a href="?{% url_replace request 'order_by' 'sidelobe_count' '-' %}">N Sidelobe</a></th>
      <th><a href="?{% url_replace request 'order_by' 'alias_count' '-' %}">N Alias</a></th>
      <th><a href="?{% url_replace request 'order_by' 'chgcentre_count' '-' %}">N CHG Center</a></th>
      <th><a href="?{% url_replace request 'order_by' 'scintillation_count' '-' %}">N Scintillation</a></th>
      <th><a href="?{% url_replace request 'order_by' 'pulsar_count' '-' %}">N Pulsar</a></th>
      <th><a href="?{% url_replace request 'order_by' 'ra_hms' '-' %}">RA (HH:MM:SS.SS)</a></th>
      <th><a href="?{% url_replace request 'order_by' 'dec_dms' '-' %}">Dec (DD:MM:SS.SS)</a></th>
      <th><a href="?{% url_replace request 'order_by' 'obs_id' '-' %}">Obs ID</a></th>
      <th>Plot</th>
    </thead>

    {% for cand in page_obj %}
      <tr>
        <td><a href="/candidate_rating/{{cand.id}}/">{{cand.id}}</a></td>
        <td>
          {% if cand.num_ratings > 0 %}
            {{cand.avg_rating|floatformat:2}} ({{cand.num_ratings}})
          {% else %}
            not rated
          {% endif %}
        </td>
        <td>{{cand.notes}}</td>
        <td>{{cand.transient_count}}</td>
        <td>{{cand.airplane_count}}</td>
        <td>{{cand.rfi_count}}</td>
        <td>{{cand.sidelobe_count}}</td>
        <td>{{cand.alias_count}}</td>
        <td>{{cand.chgcentre_count}}</td>
        <td>{{cand.scintillation_count}}</td>
        <td>{{cand.pulsar_count}}</td>
        <td>{{cand.ra_hms}}</td>
        <td>{{cand.dec_dms}}</td>
        <td>{{cand.obs_id.observation_id}}</td>
        <td><img src="{{cand.png_path.url}}" alt="Diagnostic Plot for {{cand.id}}" style="width:100px;" onClick="window.open(this.src)" > </td>
      </tr>
    {% endfor %}
  </table>
{% else %}
  <p>No Candidates Found!</p>
{% endif %}
</div>

<div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
    <a href="?page=1">&laquo; first</a>
    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">next</a>
    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
  </span>
</div>
{% endblock %}