{% extends 'candidate_app/header.html' %}

{% block content %}
<title>Download Page</title>
<div class="container py-4">
  <h1>Database download page</h1>
  <p>All tables are downloaded in FITS format. See the <a href="https://gleamxgpmonitoring.readthedocs.io/">documentation</a> for an explanation of the table schemas.</p>
  <p><a href="/download_data/rating/"      class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Download Rating Data</a></p>
  <p><a href="/download_data/candidate/"   class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Download Candidate Data</a></p>
  <p><a href="/download_data/observation/" class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Download Observation Data</a></p>
  <p><a href="/download_data/filter/"      class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Download Filter Data</a></p>
  <p><a href="/download_data/user/"        class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Download User Data</a></p>
</div>
{% endblock %}