  <div class="col" id="simbadtable">
    <h4>SIMBAD:</h4>
    <table class="fl-table">
      <tr>
        <th>Name</th>
        <th>RA</th>
        <th>Dec</th>
        <th>Sep (arcmin)</th>
      </tr>
      {% for result in simbad_result_table %}
      <tr>
        <td><a href="https://simbad.cds.unistra.fr/simbad/sim-id?Ident={{ result.search_term }}&NbIdent=1&submit=submit+id" style="text-decoration:None">{{ result.name }}</a></td>
        <td>{{ result.ra }}</td>
        <td>{{ result.dec }}</td>
        <td>{{ result.sep|floatformat:2 }}</td>
      </tr>
      {% empty %}
      <tr><td colspan="4">No Sources found</td></tr>
      {% endfor %}
    </table>
  </div>